<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StraightUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>220C27EA1E91F1E100A5DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220C27FE1E91F1E100A5DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220C28091E91F1E100A5DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
